.TrackItem {
  margin: 20px;
  padding: 10px;

  &__Picture {
    margin-left: 15px;
    width: 70px;
    height: 70px;
  }

  &__Name {
    cursor: pointer;
    max-width: 300px;
    text-decoration: none;
    transition: all ease .2s;

    &:hover {
      text-decoration: underline;
      transition: all ease .2s;
    }
  }

  &__Information {
    margin-left: 15px;
  }

  &__DeleteButton {
    margin-left: auto;
  }
}
